.go-to-page-label {
    float: left;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
}

.my-add-btn {
    margin-top: 10px;
}

.custom-container {
    padding-top: 10px;
}

.login-form {
    border: 1px solid #cecece;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 2px 4px 2px #ccc;
}