<?xml version="1.0"?>
    <configuration>
        <system.webServer>
            <defaultDocument>
                <files>
                    <clear />
                    <add value="index.php" />
                </files>
            </defaultDocument>
            <rewrite>
                <rules>
                    <rule name="rule 1F">
                        <match url=".*(?:global.asa|default\.ida|root\.exe|\.\.).*"  />
                        <action type="Rewrite" url="/."  />
                    </rule>
                    <rule name="rule 2F" stopProcessing="true">
                        <match url="(.*)"  />
                        <action type="Rewrite" url="/{R:1}"  />
                    </rule>
                    <rule name="rule 3F" stopProcessing="true">
                        <match url="(.*\.php)(.*)"  />
                        <action type="Rewrite" url="/{R:1}{R:2}"  />
                    </rule>
                    <rule name="rule 4F" stopProcessing="true">
                        <match url="(.*)"  />
                        <action type="Rewrite" url="//index.php"  />
                    </rule>
                </rules>
            </rewrite>
        </system.webServer>
    </configuration>