<tr id="questionnaire-{{ questionnaire.id }}">
  <td>{{ questionnaire.title }}</td>
  <td><button class="btn btn-danger detach-questionnaire-btn" type="button" onclick="handleDetachQuestionnaireBtnClick('{{ questionnaire.id }}')">Открепить</button></td>
</tr>