{% extends 'base.html.twig' %}

{% block title %}Опросники{% endblock %}

{% block body %}
<div class="wrapper">
  <h4>Опросники</h4>
  <hr>
  {% for type in types %}
    <p>{{ type }}</p>
  {% endfor %}
{% endblock %}
