{% extends 'base.html.twig' %}

{% block title %}Опросники{% endblock %}

{% block body %}
<div class="wrapper">
  <h4>Опросники</h4>
  <hr>
  <ol>
    {% for restraint in restraints %}
    <li>
      <div class="row">
        <div class="col-md-6">{{ restraint.title }}</div>
        <div class="col-md-3">{{ restraint.value }}</div>
      </div>
    </li>
    {% endfor %}
  </ol>
{% endblock %}
