{% extends 'base.html.twig' %}

{% block title %}Запуск контролей{% endblock %}

{% block body %}
<h4>Запуск контролей</h4>
<hr>
<div class="wrapper" id="validate-block">
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
      <button class="btn btn-success float-right" type="button" onclick="startValidate()"><span class="oi oi-media-play"></span> Запуск</button>
    </div>
  {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    doNotSaveOnEnter();
  </script>
{% endblock %}